<div class="container">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input id="nome" name="nome" type="text" class="form-control" [(ngModel)]="nomeCliente"
      placeholder="Digite o nome" />
  </div>
  <div class="mb-3">
    <label for="porte" class="form-label">Porte</label>
    <select id="porte" name="porte" class="form-select" [(ngModel)]="porteCliente">
      <option value="0">Pequena</option>
      <option value="1">Média</option>
      <option value="2">Grande</option>
    </select>
  </div>
  <div class="mb-3">
    <button type="button" class="btn btn-primary" (click)="salvarDadosCliente()">Salvar</button>
  </div>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Porte</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{cliente.nome}}</td>
        <td>{{porteValores[cliente.porte]}}</td>
        <td>
          <button type="button" class="btn btn-primary" (click)="preencherFormulario(cliente.id, cliente.nome, cliente.porte)">Editar</button>
          <button type="button" class="btn btn-danger" (click)="excluirCliente(cliente.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>